.home34{
    /* bottom: 0; */
    //position: absolute;
    width: 85%;
    height:85vh;
    background-color:#a5c8ff;
    /* background-color:#F6BA6F; */
    /* margin-right:20%; */
    display:flex;
    justify-content:center;
    align-items:center;
  }
  .t23er{
    font-size:40px;
    font-weight:400;
  }
  /* .Navbar-search1{
    border-radius:15px;
    background-color:#dee3e7;
    padding:10px;
    margin-bottom:50px;
  }
  .cust{
    width:10%;
    color:white;
    background-color:#edbc40;
    /* margin-right:1%; */
  /* }
  .custi{
    width:80%;
    height:50%;
    border:none;
    outline:none;
    font-size:20px;
    background-color:#dee3e7;
  }
  .custh{
    font-size:30px;
    font-family: "Ysabeau Office", sans-serif;
    font-weight:150;
    margin-top:40px;
    margin-left:5px;
  }  */
  .feed{
    background-color:#fefefe;
    height:70vh;
    /* display:flex;   
    justify-content:center;
    align-items:center; */
    width:32%;
    border-radius:17px;
  }
  .onr{
    display:flex;   
    justify-content:center;
    align-items:center;
    width:100%;
    margin-top:15%;
    margin-bottom:5%;
  }
  .one{
    display:flex;   
    justify-content:center;
    align-items:center;
    width:100%;
    margin-top:5%;
  }
  .sub{
    width:30%;
    color:white;
    background-color:#6f60bc;
  }
  .oner{
    display:flex;   
    justify-content:center;
    align-items:center;
    width:100%;
    margin-top:10%;
  }