.proform1c{
    margin-left:2vh;
    height:67vh;
    width:93%;
    /* padding:2vh; */
    margin-top:2vh;
    border-radius:2vh;
    padding:3vh;
    background-color:white;
}
.formgroupc{
    margin-left:2vh;
    height:12vh;
    display:block;
    font-family: Roboto,sans-serif;
    font-size: 18px;
    margin-bottom:7vh;
}