.jobcard {
  width: 42%;
  height: 30vh;
  margin: 2vh;
  padding: 2vh;
  border-radius: 2vh;
  background-color: white;
  display: flex;
}
.jobcard23 {
  width: 42%;
  height: 30vh;
  margin: 2vh;
  padding: 2vh;
  border-radius: 2vh;
  background-color: white;
  display: flex;
  border-color: #f8f9fa;
}
.ver23 {
  margin-left: 2vh;
  color: #170c82;
  font-size: 3.5vh;
  font-weight: var(--font-weight-heading);
  font-family: inherit;
  margin-bottom: 2vh;
}
.ingc {
  width: 100%;
}
.infop {
  display: flex;
  width: 99%;
  height: 3.2vh;
  margin-top: 2vh;
}
.infop1 {
  width: 34%;
  /* border-right: 2px solid #000; */
  border-color: #41444a;
  padding-left: 0.9vh;
  display: flex;
}
.infop11 {
  width: 27%;
  /* border-right: 2px solid #000; */
  border-color: #41444a;
  padding-left: 0.9vh;
  display: flex;
}
.vr45a {
  margin: -0vh;
  color: #170c82;
  font-size: 2.4vh;
  font-weight: var(--font-weight-heading);
  font-family: inherit;
}
.vr45aaa {
  margin-top: 0.5vh;
  color: #170c82;
  font-size: 1.7vh;
  font-weight: var(--font-weight-heading);
  font-family: inherit;
}
.vr45 {
  padding: 0;
  margin-left: 1vh;
  height: 3vh;
}
.verr45a {
  margin-left: 2vh;
  color: #212020;
  font-size: 2.5vh;
  font-weight: var(--font-weight-heading);
  font-family: inherit;
  margin-bottom: 2vh;
}
.rr {
  border: none;
  outline: none;
  width: 100%;
}
.gg{
    margin-top:2vh;
}